[Unit]
Description=SyncFlux Agent
Documentation=http://github.com/toni-moreno/syncflux
Wants=network-online.target
After=network-online.target

[Service]
EnvironmentFile=/etc/sysconfig/syncflux
User=syncflux
Group=syncflux
Type=simple
Restart=on-failure
WorkingDirectory=/usr/share/syncflux
ExecStart=/usr/sbin/syncflux                    \
                            --pidfile=${PID_FILE}     \
                            --config=${CONF_FILE}     \
                            --logs=${LOG_DIR}         \
                            --home=${HOME_DIR}        \
                            --data=${DATA_DIR}
LimitNOFILE=10000
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target
